@import "tailwindcss";

@theme {
  --color-hari: #FFD700;
  --color-secondary: #FFA500;
  --text-harip: 45px;
  --text-details-heading-small:26px, 36px;
  --text-details-heading-large:36px, 44px;
      --text-home-heading-large:48px, 56px;
      --text-home-heading-small:28px, 34px;
      --text-default:15px, 21px;

      /* --gridTemplateColumns-auto:repeat(auto-fit, minmax(20px, 1fr)); */
}
